.producto {
  width: 300px;
  padding: 10px;
  border: 1px dashed lightgrey;
  margin: 10px;
  text-align: center;
}

.fotoProducto {
  height: 200px;
}

.producto p {
  margin: 5px 0px;
  font-size: 15px;
}

.titulo {
  margin-top: 5px;
  margin-bottom: 10px;
}