.div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.contenedor {
    flex-direction: column;
}

.btn {
    padding: 10px 20px;
    background-color: blanchedalmond;
    font-size: 20px;
    color: purple;
    border: none;
    border-radius: 8px;
    font-family: Calibri;
}